<mat-toolbar>
  <mat-toolbar-row>
    <h4>Sistema de Locação</h4>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Geral">
    <div>
      <app-client fxFlex="50"></app-client>
      <app-contrat fxFlex="50"></app-contrat>
    </div>
  </mat-tab>
  <mat-tab label="Cliente"> <app-client fxFlex="50"></app-client></mat-tab>
  <mat-tab label="Contrato"><app-contrat fxFlex="50"></app-contrat></mat-tab>
  <mat-tab label="Lista de Contratos"><app-contract-grid></app-contract-grid></mat-tab>
  <mat-tab label="Lista de Clientes"><app-cliente-grid></app-cliente-grid></mat-tab>
</mat-tab-group>
